<div id="<%= dom_id customer_order %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Customer email:</strong>
    <%= customer_order.customer_email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= customer_order.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone number:</strong>
    <%= customer_order.phone_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Reference number:</strong>
    <%= customer_order.reference_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Receipt Image:</strong>
    <%= customer_order.image.attached? ? image_tag(customer_order.image, size: "100x100", class: "rounded") : image_tag("https://via.placeholder.com/100", size: "100x100", class: "rounded") %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date of retrieval:</strong>
    <%= customer_order.date_of_retrieval %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total:</strong>
    <%= customer_order.order_total %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Size:</strong>
    <%= customer_order.size %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= customer_order.quantity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Item:</strong>
    <%= customer_order.item %>
  </p>

</div>
