<h1>Checkout</h1>
<%= form_with model: @sales_transact, local: true do |f| %>
  <p>
    <%= f.label :customer_name %>
    <%= f.text_field :customer_name %>
  </p>
  <p>
    <%= f.label :customer_email %>
    <%= f.email_field :customer_email %>
  </p>
  <p>
    <%= f.label :phone_number %>
    <%= f.telephone_field :phone_number %>
  </p>
  <h2>Order Summary</h2>
  <ul>
    <% @basket.basket_items.each do |item| %>
      <li><%= item.quantity %> x <%= item.thing.name %>: <%= number_to_currency(item.quantity * item.thing.price) %></li>
    <% end %>
  </ul>
  <h3>Total: <%= number_to_currency(@basket.basket_items.sum { |item| item.quantity * item.thing.price }) %></h3>
  <%= f.submit 'Place Order', class: 'btn' %>
<% end %>
