<%= javascript_pack_tag 'cocoon', 'data-turbo-track': 'reload' if controller_name == 'cocoon' %>

<%= form_with(model: admin_mixture_third, class: "contents") do |form| %>
  <% if admin_mixture_third.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-4 py-3 font-medium rounded-lg mt-4">
      <h2 class="font-semibold"><%= pluralize(admin_mixture_third.errors.count, "error") %> prohibited this admin_mixture_third from being saved:</h2>
      <ul class="list-disc list-inside mt-2">
        <% admin_mixture_third.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :mixture_id, class: "text-white font-semibold" %>
    <% if admin_mixture_third.errors[:mixture_id].any? %>
      <div class="text-red-500 text-sm mb-1"><%= admin_mixture_third.errors[:mixture_id].first %></div>
    <% end %>
    <%= form.text_field :mixture_id, 
                        class: "block shadow-md rounded-md border px-3 py-2 mt-2 w-full text-gray-800 outline-none focus:ring-2 transition duration-200 #{'border-red-500 focus:ring-red-500' if admin_mixture_third.errors[:mixture_id].any?}" %>
  </div>

  <div class="my-5">
    <%= form.label :order_id, class: "text-white font-semibold" %>
    <% if admin_mixture_third.errors[:order_id].any? %>
      <div class="text-red-500 text-sm mb-1"><%= admin_mixture_third.errors[:order_id].first %></div>
    <% end %>
    <%= form.number_field :order_id, 
                          class: "block shadow-md rounded-md border px-3 py-2 mt-2 w-full text-gray-800 outline-none focus:ring-2 transition duration-200 #{'border-red-500 focus:ring-red-500' if admin_mixture_third.errors[:order_id].any?}" %>
  </div>

  <div class="my-5">
    <%= form.label :primary_color_id, class: "text-white font-semibold" %>
    <% if admin_mixture_third.errors[:primary_color_id].any? %>
      <div class="text-red-500 text-sm mb-1"><%= admin_mixture_third.errors[:primary_color_id].first %></div>
    <% end %>
    <%= form.number_field :primary_color_id, 
                          class: "block shadow-md rounded-md border px-3 py-2 mt-2 w-full text-gray-800 outline-none focus:ring-2 transition duration-200 #{'border-red-500 focus:ring-red-500' if admin_mixture_third.errors[:primary_color_id].any?}" %>
  </div>

  <div class="my-5">
    <label class="block text-gray-700 font-medium" for="mixture_mixture_thirds_attributes_0_amount">Quantity</label>
    <% if admin_mixture_third.errors[:amount].any? %>
      <div class="text-red-500 text-sm mb-1"><%= admin_mixture_third.errors[:amount].first %></div>
    <% end %>
    <%= form.text_field :amount, 
                        class: "block shadow-md rounded-md border px-3 py-2 mt-2 w-full text-gray-800 outline-none focus:ring-2 transition duration-200 #{'border-red-500 focus:ring-red-500' if admin_mixture_third.errors[:amount].any?}" %>
  </div>

  <div class="flex items-center space-x-2 mt-4">
    <div class="inline">
      <%= form.submit "Save", class: "rounded-lg py-3 px-5 bg-[#FF6500] hover:bg-[#E65B00] text-white inline-block font-medium cursor-pointer transition duration-200 flex items-center space-x-2" do %>
        <i class="fas fa-save"></i>
        <span>Save</span>
      <% end %>
    </div>
  </div>
<% end %>
