<div id="<%= dom_id mixture_third %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Mixture:</strong>
    <%= mixture_third.mixture_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Order:</strong>
    <%= mixture_third.order_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Primary color:</strong>
    <%= mixture_third.primary_color_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= mixture_third.amount %>ml
  </p>

</div>
