<%= form_with(model: [:admin, admin_order], class: "p-6 bg-white shadow-lg rounded-lg max-w-lg mx-auto mt-8") do |form| %>
  <% if admin_order.errors.any? %>
    <div id="error_explanation" class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-6 rounded-lg">
      <h2 class="font-semibold mb-2"><%= pluralize(admin_order.errors.count, "error") %> prevented this order from being saved:</h2>
      <ul class="list-disc pl-5 space-y-1">
        <% admin_order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-6  ">
    <%= form.label :fulfilled, class: "text-gray-700 font-semibold" %>
    <%= form.check_box :fulfilled, class: "mt-1 h-6 w-6 rounded border-gray-800 text-blue-600 focus:ring-blue-500" %>
  </div>

  <div class="mb-6 text-gray-800 ">
    <%= form.label :color_id, "Select Brand", class: "text-gray-700 font-semibold" %>
    <%= form.collection_select :color_id, Color.all, :id, :name, prompt: "Choose a Color", class: "block mt-2 w-full bg-white border border-gray-300 rounded-lg shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 px-3 py-2" %>
  </div>

  <div class="mb-6 text-gray-800 ">
    <%= form.label :product_id, "Select Product", class: "text-gray-700 font-semibold" %>
    <%= form.collection_select :product_id, Product.all, :id, :name, prompt: "Choose a Product", class: "block mt-2 w-full bg-white border border-gray-300 text-gray-800 rounded-lg shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 px-3 py-2" %>
  </div>

  <div class="mb-6 text-gray-800 ">
    <%= form.label :paint_color_id, "Select Paint Color", class: "text-gray-700 font-semibold" %>
    <%= form.collection_select :paint_color_id, PaintColor.all, :id, :name, prompt: "Choose a Paint Color", class: "block mt-2 w-full bg-white border border-gray-300 text-gray-800 rounded-lg shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 px-3 py-2" %>
  </div>








  <div class="text-center mt-8">
    <%= form.submit "Update", class: "w-full py-3 px-5 bg-blue-600 hover:bg-blue-700 text-white rounded-lg font-semibold shadow-md transition duration-300 ease-in-out" %>
  </div>
<% end %>





<!-- Email Form -->
<div class="send-email">
  <h3>Send Email to User</h3>
  <%= form_with(model: [:admin, admin_order], method: :post, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :customer_email, "Recipient Email" %>
      <%= f.email_field :customer_email, value: @order.customer_email, class: "form-control", placeholder: "Enter email address" %>
    </div>
    <%= f.submit "Send Email", class: "btn btn-primary" %>
  <% end %>
</div>



