<div id="<%= dom_id order %>">

  <p class="my-5">
    <strong class="block font-medium mb-1">Customer Name:</strong>
    <%= order.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Customer email:</strong>
    <%= order.customer_email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone Number:</strong>
    <%= order.phone_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fulfilled:</strong>
    <%= order.fulfilled ? 'Yes' : 'No' %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Reference Number:</strong>
    <%= order.reference_number %>
  </p>

   <p class="my-5">
    <strong class="block font-medium mb-1">References Image:</strong>
    <%= order.image.attached? ? image_tag(order.image, size: "50x50") : image_tag("https://via.placeholder.com/50", size: "50x50") %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date of Retrieval:</strong>
    <%= order.date_of_retrieval %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Item:</strong>
    <%= order.item %>
  </p>

   <p class="my-5">
    <strong class="block font-medium mb-1">Size:</strong>
    <%= order.size %>
  </p>

   <p class="my-5">
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= order.quantity %>
  </p>


  <p class="my-5">
    <strong class="block font-medium mb-1">Product:</strong>
    <%= order.product_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total:</strong>
    <%= order.total %>
  </p>





  <% if action_name != "show" %>
    <%= link_to "Show this order", [:admin, order], class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this order", edit_admin_order_path(order), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>

</div>
