<div id="<%= dom_id(primary_color) %>" class="my-6 p-6 bg-[#0B192C] rounded-lg shadow-md">
  <h2 class="text-2xl font-bold mb-4 text-white">Primary Color Details</h2>

  <table class="w-full table-auto border-collapse">
    <thead class="bg-[#1E3E62] text-gray-300">
      <tr>
        <th class="px-4 py-2 text-left">Attribute</th>
        <th class="px-4 py-2 text-left">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-gray-800 text-gray-300">
        <td class="px-4 py-2 border-b">Color Name</td>
        <td class="px-4 py-2 border-b"><%= primary_color.color_name %></td>
      </tr>
      <tr class="bg-gray-700 text-gray-300">
        <td class="px-4 py-2 border-b">Color Code</td>
        <td class="px-4 py-2 border-b"><%= primary_color.color_code %></td>
      </tr>
      <tr class="bg-gray-800 text-gray-300">
        <td class="px-4 py-2 border-b">Price</td>
        <td class="px-4 py-2 border-b">₱<%= number_to_currency(primary_color.price, unit: "", precision: 2) %></td>
      </tr>
      <tr class="bg-gray-700 text-gray-300">
        <td class="px-4 py-2 border-b">Stocks</td>
        <td class="px-4 py-2 border-b"><%= primary_color.stocks %></td>
      </tr>
            <tr class="bg-gray-700 text-gray-300">
        <td class="px-4 py-2 border-b">Brand</td>
        <td class="px-4 py-2 border-b"><%= primary_color.color.name %></td>
      </tr>
      <tr class="bg-gray-800 text-gray-300">
        <td class="px-4 py-2 border-b">Product</td>
        <td class="px-4 py-2 border-b"><%= primary_color.product.name %></td>
      </tr>
      <tr class="bg-gray-800 text-gray-300">
        <td class="px-4 py-2 border-b">Active</td>
        <td class="px-4 py-2 border-b"><%= primary_color.active ? 'Yes' : 'No' %></td>
      </tr>
    </tbody>
  </table>

  <% if action_name != "show" %>
    <div class="mt-6 flex space-x-4">
      <%= link_to "Show this product", [:admin, primary_color], class: "bg-blue-600 text-white py-2 px-4 rounded-lg shadow hover:bg-blue-700 font-medium" %>
      <%= link_to "Edit this product", edit_admin_primary_color_path(primary_color), class: "bg-yellow-500 text-white py-2 px-4 rounded-lg shadow hover:bg-yellow-600 font-medium" %>
    </div>
    <hr class="mt-6 border-t border-gray-200">
  <% end %>
</div>
