<%= form_with(model: [:admin, @product, @admin_product_stock], class: "contents") do |form| %>

  <% if @admin_product_stock.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(@admin_product_stock.errors.count, "error") %> prohibited this product stock from being saved:</h2>
      <ul>
        <% @admin_product_stock.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="text-gray-800">
    <div class="my-5">
      <%= form.label :size, class: "text-white" %>
      <%= form.text_field :size, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
      <% if @admin_product_stock.errors[:size].any? %>
        <p class="text-red-500 text-xs mt-1"><%= @admin_product_stock.errors[:size].first %></p>
      <% end %>
    </div>

    <div class="my-5">
      <%= form.label :amount, "Quantity", class: "text-white" %>
      <%= form.number_field :amount, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", min: 1 %>
      <% if @admin_product_stock.errors[:amount].any? %>
        <p class="text-red-500 text-xs mt-1"><%= @admin_product_stock.errors[:amount].first %></p>
      <% end %>
    </div>

    <div class="my-5">
      <%= form.label :price, class: "text-white" %>
      <%= form.text_field :price, step: 0.01, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
      <% if @admin_product_stock.errors[:price].any? %>
        <p class="text-red-500 text-xs mt-1"><%= @admin_product_stock.errors[:price].first %></p>
      <% end %>
    </div>

    <div class="inline">
      <%= form.submit "Save", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  </div>

<% end %>
