<div class="flex flex-col md:flex-row justify-center py-10 mt-20">
  <!-- Primary Color Image Display Section -->
  <div class="flex flex-col items-center max-w-lg mb-6 md:mb-0 md:mr-6">
    <% if @primary_color.image.attached? %>
      <%= image_tag @primary_color.image, class: "w-auto h-64 rounded shadow-md" %>
    <% else %>
      <p class="text-gray-600">No image available.</p>
    <% end %>
  </div>

  <!-- Primary Color Details Section -->
  <div data-controller="primary-colors"
       data-primary-colors-id-value="<%= @primary_color.id %>"
       data-primary-colors-name-value="<%= @primary_color.name %>"
       data-primary-colors-color-value="<%= @primary_color.color.name %>"
       data-primary-colors-product-value="<%= @primary_color.product.name %>"
       data-primary-colors-price-value="<%= @primary_color.price %>"
       class="flex flex-col items-start max-w-sm mt-6 md:mt-0">

    <h3 class="font text-2xl uppercase text-white">Brand: <%= @primary_color.color.name %></h3>
    <h3 class="font text-2xl uppercase text-white">Product: <%= @primary_color.product.name %></h3>
    <h1 class="font-bold text-4xl uppercase text-white">Color: <%= @primary_color.name %></h1>
    
    <p id="price-display" class="text-4xl mt-4 text-white">₱<%= @primary_color.price.to_s %></p>



    <!-- Size Section -->
    <div class="my-8">
      <p class="uppercase text-lg font-semibold">Size</p>
      <% if @primary_color.primary_color_stocks.present? && @primary_color.primary_color_stocks > 0 %>
        <button data-action="click->primary-colors#selectSize" data-price="<%= @primary_color.primary_color_stocks.price %>"
                value="<%= @primary_color.primary_color_stocks.size %>"
                class="bg-gray-200 text-gray-800 font-semibold py-2 px-4 rounded hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50 transition duration-200">
          <%= @primary_color.primary_color_stocks.size %>
        </button>
      <% else %>
        <button disabled
                value="<%= @primary_color.primary_color_stocks.size %>"
                class="disabled:bg-gray-400 bg-gray-200 text-gray-800 font-semibold py-2 px-4 rounded hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50">
          <%= @primary_color.primary_color_stocks.size %>
        </button>
      <% end %>
    </div>

    <div id="selected-size" class="text-lg text-white mb-4"></div>
    <button data-action="click->primary-colors#addToCart"
            class="inline-flex items-center justify-center px-5 py-3 border border-transparent font-medium rounded-md text-white bg-orange-600 hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 transition duration-200">
      Add To Cart
    </button>
    
  </div>
</div>

