<div id="<%= dom_id stock %>">
  <table class="table-auto w-full border-collapse border border-gray-300 mt-5">
    <thead>
      <tr class="bg-gray-100">
        <th class="border px-4 py-2">Attribute</th>
        <th class="border px-4 py-2">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border px-4 py-2 font-medium">Unit</td>
        <td class="border px-4 py-2"><%= stock.unit %></td>
      </tr>
      <tr>
        <td class="border px-4 py-2 font-medium">Size</td>
        <td class="border px-4 py-2"><%= stock.size %></td>
      </tr>
      <tr>
        <td class="border px-4 py-2 font-medium">Price</td>
        <td class="border px-4 py-2"><%= stock.price %></td>
      </tr>
      <tr>
        <td class="border px-4 py-2 font-medium">Amount</td>
        <td class="border px-4 py-2"><%= stock.amount %></td>
      </tr>
      <tr>
        <td class="border px-4 py-2 font-medium">Paint Color</td>
        <td class="border px-4 py-2"><%= stock.paint_color_id %></td>
      </tr>
    </tbody>
  </table>

  <% if action_name != "show" %>
    <div class="mt-6">
      <%= link_to "Show this stock", [:admin, stock.paint_color, stock], class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to "Edit this stock", edit_admin_paint_color_stock_path(stock.paint_color, stock), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    </div>
    <hr class="mt-6">
  <% end %>
</div>
