<div 
  data-controller="paint-colors" 
  data-paint-colors-paint-color-id="<%= paint_color.id %>" 
  data-paint-colors-paint-color-name="<%= paint_color.name %>"
  data-paint-colors-product-name="<%= paint_color.product.name %>"
  data-paint-colors-color-name="<%= paint_color.color.name %>"
  data-paint-colors-paint-color-price="<%= paint_color.price %>"
>
  <select data-paint-colors-target="unit" data-action="change->paint-colors#updateSizeOptions">
    <option value="" disabled selected>Select Unit</option>
    <option value="liters">Liters</option>
    <option value="gallons">Gallons</option>
  </select>

  <select data-paint-colors-target="size">
    <option value="" disabled selected>Select Size</option>
    <option data-unit="liters" value="1">1L</option>
    <option data-unit="liters" value="2">2L</option>
    <option data-unit="gallons" value="1">1 Gallon</option>
    <option data-unit="gallons" value="2">2 Gallons</option>
  </select>

  <input id="quantity-input-<%= paint_color.id %>" type="number" min="1" value="1">

  <button data-action="click->paint-colors#addToCart">Add to Cart</button>

  <div id="total-display"></div>
</div>
