<!-- Paint Color Details Section -->
<div 
  class="paint-color-card" 
  data-paint-color-id="<%= @paint_color.id %>"
  data-paint-color-name="<%= @paint_color.name %>"
  data-paint-color-code="<%= @paint_color.code %>"
  data-paint-color-price="<%= @paint_color.price %>"
  data-paint-color-color-id="<%= @paint_color.color_id %>"
  data-paint-color-product-id="<%= @paint_color.product_id %>"
  data-paint-color-unit="<%= @paint_color.unit %>"
>
  
  <div class="flex flex-col md:flex-row justify-center py-10 mt-20">
    <!-- Image Section -->
    <div class="flex flex-col items-center max-w-lg mb-6 md:mb-0 md:mr-6">
      <% if @paint_color.image.attached? %>
        <%= image_tag @paint_color.image, class: "w-auto h-64 rounded shadow-md" %>
      <% else %>
        <p class="text-gray-600">No image available.</p>
      <% end %>
    </div>

    <!-- Details Section -->
    <div class="flex flex-col items-start max-w-sm mt-6 md:mt-0">
      <!-- Color and Product Information -->
      <h3 class="text-2xl uppercase text-white">Brand: <%= @paint_color.color.name %></h3>
      <h3 class="text-2xl uppercase text-white">Product: <%= @paint_color.product.name %></h3>
      <h1 class="font-bold text-4xl uppercase text-white">Color: <%= @paint_color.name %></h1>

      <!-- Price Display -->
      <p id="price-display" 
         data-paint-colors-target="priceDisplay" 
         class="text-2xl mt-4 text-white">
        ₱<%= @paint_color.price.to_s %>
      </p>

      <!-- Size Selection -->
      <div class="my-8">
        <p class="uppercase text-lg font-semibold">Size</p>
        <% @paint_color.stocks.each do |stock| %>
          <% if stock.amount.present? && stock.amount > 0 %>
            <button 
              data-action="click->paint-colors#selectSize" 
              data-price="<%= stock.price %>" 
              data-unit="<%= stock.unit %>" 
              value="<%= stock.size %>" 
              class="bg-gray-200 text-gray-800 font-semibold py-2 px-4 rounded hover:bg-gray-300">
              <%= stock.size %>
            </button>
          <% end %>
        <% end %>
      </div>

      <!-- Selected Size and Add to Cart -->
      <div id="selected-size" 
           data-paint-colors-target="selectedSize" 
           class="text-lg text-white mb-4"></div>
      
      <button 
        data-action="click->paint-colors#addToCart" 
        class="bg-orange-600 text-white px-5 py-3 rounded-md hover:bg-orange-700">
        Add To Cart
      </button>
    </div>
  </div>
</div>
