<div>
  <!-- Paint Color Details -->
  <h3 id="paint-color-name"><%= @paint_color.name %></h3>
  <p id="paint-color-code"><%= @paint_color.code %></p>
  <p id="price-display">₱<%= @paint_color.price %></p>

  <!-- Size Selection -->
  <select id="size-select">
    <option value="">Select Size</option>
    <% @paint_color.stocks.each do |stock| %>
      <% if stock.amount.present? && stock.amount > 0 %>
        <option 
          value="<%= stock.size %>" 
          data-price="<%= stock.price %>" 
          data-unit="<%= stock.unit %>">
          <%= stock.size %>
        </option>
      <% end %>
    <% end %>
  </select>

  <!-- Unit Selection -->
  <select id="unit-select">
    <option value="">Select Unit</option>
    <% @paint_color.stocks.pluck(:unit).uniq.each do |unit| %>
      <option value="<%= unit %>"><%= unit %></option>
    <% end %>
  </select>

  <!-- Add to Cart -->
  <button 
    id="add-to-cart" 
    data-paint-color-id="<%= @paint_color.id %>" 
    data-paint-color-name="<%= @paint_color.name %>" 
    data-paint-color-code="<%= @paint_color.code %>" 
    data-paint-color-price="<%= @paint_color.price %>">
    Add to Cart
  </button>

  <!-- Selected Size and Unit Display -->
  <p id="selected-size"></p>
  <p id="selected-unit"></p>
</div>
