<%= form_with(model: [:admin, admin_color], class: "space-y-6 p-6 bg-[#0B192C] rounded-lg shadow-md", local: true, html: { multipart: true }) do |form| %>
  <% if admin_color.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-4 py-3 font-medium rounded-lg">
      <h2><%= pluralize(admin_color.errors.count, "error") %> prohibited this brand from being saved:</h2>
      <ul class="list-disc pl-6">
        <% admin_color.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, class: "text-white font-medium" %>
    <% if admin_color.errors[:name].any? %>
      <div class="text-red-500 text-sm mb-1"><%= admin_color.errors[:name].first %></div>
    <% end %>
    <%= form.text_field :name, 
                        class: "block shadow rounded-md border px-3 py-2 mt-2 w-full text-gray-800 outline-none focus:ring-2 transition duration-200 #{'border-red-500 focus:ring-red-500' if admin_color.errors[:name].any?}" %>
  </div>

  <div class="my-5">
    <%= form.label :code, class: "text-white font-medium" %>
    <% if admin_color.errors[:code].any? %>
      <div class="text-red-500 text-sm mb-1"><%= admin_color.errors[:code].first %></div>
    <% end %>
    <%= form.text_field :code, 
                        class: "block shadow rounded-md border px-3 py-2 mt-2 w-full text-gray-800 outline-none focus:ring-2 transition duration-200 #{'border-red-500 focus:ring-red-500' if admin_color.errors[:code].any?}" %>
  </div>

  <div class="my-5">
    <%= form.label :image, class: "text-white font-medium" %>
    <% if admin_color.errors[:image].any? %>
      <div class="text-red-500 text-sm mb-1"><%= admin_color.errors[:image].first %></div>
    <% end %>
    <%= form.file_field :image, 
                        class: "block shadow rounded-md border px-3 py-2 mt-2 w-full outline-none focus:ring-2 transition duration-200 #{'border-red-500 focus:ring-red-500' if admin_color.errors[:image].any?}" %>
  </div>

  <div>
    <%= form.submit "Save", class: "rounded-lg py-3 px-5 bg-[#FF6500] hover:bg-[#E65B00] text-white inline-block font-medium cursor-pointer transition duration-200" %>
  </div>
<% end %>
