<%= form_with(model: [:admin, admin_color], class: "space-y-6 p-6 bg-white rounded-lg shadow-md") do |form| %>
  <% if admin_color.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-4 py-3 font-medium rounded-lg">
      <h2><%= pluralize(admin_color.errors.count, "error") %> prohibited this admin_color from being saved:</h2>
      <ul class="list-disc pl-6">
        <% admin_color.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, class: "block text-gray-700 font-medium" %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :image, class: "block text-gray-700 font-medium" %>
    <%= form.file_field :image, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

   <%= link_to [:admin, @admin_color], class: "bg-blue-600 text-white py-2 px-4 rounded-lg shadow hover:bg-blue-700 w-full sm:w-auto text-center inline-flex items-center space-x-2" do %>
    <i class="fas fa-eye"></i>
    <span>Show</span>
  <% end %>

 
    <%= form.submit "Save", class: "rounded-lg py-2 px-4 bg-blue-600 text-white font-medium cursor-pointer hover:bg-blue-700 w-full sm:w-auto" %>
  
<% end %>
