<div class="w-full p-4">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-3xl md:text-4xl text-white">Brands</h1>
    <%= link_to "Add Brand", new_admin_color_path, class: "rounded-lg py-2 px-4 bg-[#FF6500] hover:bg-[#E65B00] text-white block font-medium transition duration-200" %>
  </div>

  <div class="flex mt-4 flex-col md:flex-row items-start md:items-center justify-between w-full">
    <%= form_with url: admin_colors_path, method: :get, class: "flex w-full md:w-auto" do |form| %>
      <%= form.text_field :query, placeholder: "Search", class: "rounded border border-gray-500 text-gray-800 py-2 px-4 focus:outline-none focus:border-[#FF6500] transition duration-200" %>
      <button type="submit" class="ml-2 bg-[#FF6500] hover:bg-[#E65B00] text-white rounded-full p-2 transition duration-200">
        <i class="fas fa-search"></i>
      </button>
      <%= form.submit "Clear", class: "ml-2 cursor-pointer bg-[#1E3E62] hover:bg-[#0B192C] text-white py-2 px-4 rounded transition duration-200" %>
    <% end %>
  </div>

  <div class="flex flex-col w-full mt-6">
    <div class="overflow-x-auto">
      <div class="py-2 inline-block min-w-full">
        <table class="min-w-full bg-[#0B192C] text-gray-300 border-collapse">
          <thead class="bg-[#1E3E62]">
            <tr>
              <th scope="col" class="text-sm font-medium text-gray-300 px-6 py-4 text-left">
                Image
              </th>
              <th scope="col" class="text-sm font-medium text-gray-300 px-6 py-4 text-left">
                Name
              </th>
            </tr>
          </thead>
          <tbody>
            <% @admin_colors.each do |c| %>
              <tr class="bg-gray-800 border-b hover:bg-[#1E3E62] transition duration-200">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-300">
                  <%= c.image.attached? ? image_tag(c.image, size: "50x50") : image_tag("https://via.placeholder.com/50", size: "50x50") %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-300">
                  <%= link_to c.name, admin_color_path(c), class: "underline text-[#FF6500] hover:text-[#E65B00]" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
