<%= form_with(model: [:admin, admin_paint_color], class: "contents") do |form| %>
  <% if admin_paint_color.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-4 py-3 font-medium rounded-lg mt-4">
      <h2 class="font-semibold"><%= pluralize(admin_paint_color.errors.count, "error") %> prohibited this admin_paint_color from being saved:</h2>
      <ul class="list-disc list-inside mt-2">
        <% admin_paint_color.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, class: "text-white font-semibold" %>
    <% if admin_paint_color.errors[:name].any? %>
      <div class="text-red-500 text-sm mb-1"><%= admin_paint_color.errors[:name].first %></div>
    <% end %>
    <%= form.text_field :name, class: "block shadow-md rounded-md border border-gray-600 text-gray-800 outline-none px-3 py-2 mt-2 w-full focus:ring-2 focus:ring-[#FF6500] transition duration-200 #{'border-red-500 focus:ring-red-500' if admin_paint_color.errors[:name].any?}" %>
  </div>

  <div class="my-5">
    <%= form.label :code, class: "text-white font-semibold" %>
    <% if admin_paint_color.errors[:code].any? %>
      <div class="text-red-500 text-sm mb-1"><%= admin_paint_color.errors[:code].first %></div>
    <% end %>
    <%= form.text_field :code, class: "block shadow-md rounded-md border border-gray-600 text-gray-800 outline-none px-3 py-2 mt-2 w-full focus:ring-2 focus:ring-[#FF6500] transition duration-200 #{'border-red-500 focus:ring-red-500' if admin_paint_color.errors[:code].any?}" %>
  </div>

  <div class="my-5">
    <%= form.label :quantity, class: "text-white font-semibold" %>
    <% if admin_paint_color.errors[:quantity].any? %>
      <div class="text-red-500 text-sm mb-1"><%= admin_paint_color.errors[:quantity].first %></div>
    <% end %>
    <%= form.text_field :quantity, class: "block shadow-md rounded-md border border-gray-600 text-gray-800 outline-none px-3 py-2 mt-2 w-full focus:ring-2 focus:ring-[#FF6500] transition duration-200 #{'border-red-500 focus:ring-red-500' if admin_paint_color.errors[:quantity].any?}" %>
  </div>

  <div class="my-5">
    <%= form.label :price, "Price", class: "text-white font-semibold" %>
    <% if admin_paint_color.errors[:price].any? %>
      <div class="text-red-500 text-sm mb-1"><%= admin_paint_color.errors[:price].first %></div>
    <% end %>
    <%= form.text_field :price, class: "block shadow-md rounded-md border border-gray-600 text-gray-800 outline-none px-3 py-2 mt-2 w-full focus:ring-2 focus:ring-[#FF6500] transition duration-200 #{'border-red-500 focus:ring-red-500' if admin_paint_color.errors[:price].any?}" %>
  </div>

  <div class="my-5">
    <%= form.label :image, class: "text-white font-semibold" %>
    <% if admin_paint_color.errors[:image].any? %>
      <div class="text-red-500 text-sm mb-1"><%= admin_paint_color.errors[:image].first %></div>
    <% end %>
    <%= form.file_field :image, rows: 4, class: "block shadow-md rounded-md border border-gray-600 text-gray-800 outline-none px-3 py-2 mt-2 w-full #{'border-red-500 focus:ring-red-500' if admin_paint_color.errors[:image].any?}" %>
  </div>

  <div class="my-5">
    <%= form.label :color_id, "Select Brand", class: "text-white font-semibold" %>
    <% if admin_paint_color.errors[:color_id].any? %>
      <div class="text-red-500 text-sm mb-1"><%= admin_paint_color.errors[:color_id].first %></div>
    <% end %>
    <%= form.collection_select :color_id, Color.all, :id, :name, { prompt: "Choose a brand" }, { class: "block shadow-md rounded-md border border-gray-600 text-gray-800 outline-none px-3 py-2 mt-2 w-full focus:ring-2 focus:ring-[#FF6500] transition duration-200 #{'border-red-500 focus:ring-red-500' if admin_paint_color.errors[:color_id].any?}" } %>
  </div>

  <div class="my-5">
    <%= form.label :product_id, "Select Product", class: "text-white font-semibold" %>
    <% if admin_paint_color.errors[:product_id].any? %>
      <div class="text-red-500 text-sm mb-1"><%= admin_paint_color.errors[:product_id].first %></div>
    <% end %>
    <%= form.collection_select :product_id, Product.all, :id, :name, { prompt: "Choose a product" }, { class: "block shadow-md rounded-md border border-gray-600 text-gray-800 outline-none px-3 py-2 mt-2 w-full focus:ring-2 focus:ring-[#FF6500] transition duration-200 #{'border-red-500 focus:ring-red-500' if admin_paint_color.errors[:product_id].any?}" } %>
  </div>

  <div class="my-5 flex items-center">
    <%= form.label :active, class: "text-white font-semibold mr-2" %>
    <%= form.check_box :active, class: "h-5 w-5 text-[#FF6500] border-gray-600 focus:ring-[#FF6500]" %>
  </div>

  <% unless admin_paint_color.new_record? %>
    <div class="my-5">
      <%= link_to "Stocks", admin_paint_color_stocks_path(admin_paint_color), class: "ml-2 rounded-lg py-3 px-5 bg-orange-200 text-black inline-block font-medium transition duration-200 hover:bg-orange-300" %>
    </div>
  <% end %>

  <div class="flex items-center space-x-2 mt-4">
    <div class="inline">
      <%= form.submit "Save", class: "rounded-lg py-3 px-5 bg-[#FF6500] hover:bg-[#E65B00] text-white inline-block font-medium cursor-pointer transition duration-200 flex items-center space-x-2" do %>
        <i class="fas fa-save"></i>
        <span>Save</span>
      <% end %>
    </div>
  </div>

<% end %>
