<%= form_with(model: [:admin, @admin_mixture], class: "contents") do |f| %>
  <% if @admin_mixture.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-4 py-3 font-medium rounded-lg mt-4">
      <h2 class="font-semibold"><%= pluralize(@admin_mixture.errors.count, "error") %> prohibited this admin_mixture from being saved:</h2>
      <ul class="list-disc list-inside mt-2">
        <% @admin_mixture.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
  <p class="text-white font-semibold">Order: <%= @admin_mixture.order.name %></p>
</div>

  <div id="mixture_details" class="space-y-4">
    <%= f.fields_for :mixture_details do |mixture_detail| %>
      <%= render "mixture_detail_fields", f: mixture_detail %>
    <% end %>
  </div>

  <div id="mixture_thirds" class="space-y-4">
    <%= f.fields_for :mixture_thirds do |mixture_third| %>
      <%= render "mixture_third_fields", f: mixture_third %>
    <% end %>
  </div>

  <div class="my-5">
    <%= f.label :primary_color_id, "Select Color", class: "text-white font-semibold" %>
    <% if @admin_mixture.errors[:primary_color_id].any? %>
      <div class="text-red-500 text-sm mb-1"><%= @admin_mixture.errors[:primary_color_id].first %></div>
    <% end %>
    <%= f.collection_select :primary_color_id, PrimaryColor.all, :id, :name,
                            { prompt: "Choose a color" },
                            { class: "block shadow-md rounded-md border px-3 py-2 mt-2 w-full text-gray-800 outline-none focus:ring-2 transition duration-200 #{'border-red-500 focus:ring-red-500' if @admin_mixture.errors[:primary_color_id].any?}" } %>
  </div>

  <div class="my-5">
    <%= f.label :amount, "Quantity", class: "text-white font-semibold" %>
    <% if @admin_mixture.errors[:amount].any? %>
      <div class="text-red-500 text-sm mb-1"><%= @admin_mixture.errors[:amount].first %></div>
    <% end %>
    <%= f.text_field :amount,
                     class: "block shadow-md rounded-md border px-3 py-2 mt-2 w-full text-gray-800 outline-none focus:ring-2 transition duration-200 #{'border-red-500 focus:ring-red-500' if @admin_mixture.errors[:amount].any?}" %>
  </div>

  <div class="flex justify-end space-x-2 mt-4">
    <%= f.submit "Submit", class: "rounded-lg py-3 px-5 bg-[#FF6500] hover:bg-[#E65B00] text-white inline-block font-medium cursor-pointer transition duration-200 flex items-center space-x-2" do %>
      <i class="fas fa-save"></i>
      <span>Submit</span>
    <% end %>
  </div>
<% end %>
