<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl text-[#FF6500]">Mixtures</h1>
    <%= link_to "New Mixture", new_admin_mixture_path, class: "rounded-lg py-3 px-5 bg-[#1E3E62] text-white block font-medium hover:bg-[#0B192C] transition duration-200" %>
  </div>

  <div class="flex mt-4 flex-col md:flex-row items-start md:items-center justify-between w-full">
    <%= form_with url: admin_mixtures_path, method: :get, class: "flex w-full md:w-auto" do |form| %>
      <%= form.text_field :query, placeholder: "Search Mixtures", class: "rounded border border-gray-500 text-gray-800 py-2 px-4 focus:outline-none focus:border-[#FF6500] transition duration-200" %>
      <button type="submit" class="ml-2 bg-[#FF6500] hover:bg-[#E65B00] text-white rounded-full p-2 transition duration-200">
        <i class="fas fa-search"></i>
      </button>
      <%= form.submit "Clear", class: "ml-2 bg-[#1E3E62] hover:bg-[#0B192C] text-white py-2 px-4 rounded transition duration-200" %>
    <% end %>
  </div>

  <div class="flex flex-col w-full mt-4">
    <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
      <div class="py-2 inline-block min-w-full">
        <div class="overflow-x-auto">
          <table class="min-w-full bg-[#1E3E62] text-gray-300 border-collapse">
            <thead class="bg-[#1E3E62]">
              <tr>
                <th scope="col" class="text-sm font-medium text-gray-300 px-6 py-4 text-left">Mixture ID</th>
                <th scope="col" class="text-sm font-medium text-gray-300 px-6 py-4 text-left">Order</th>
                <th scope="col" class="text-sm font-medium text-gray-300 px-6 py-4 text-left">Actions</th>

              </tr>
            </thead>
            <tbody>
              <% @admin_mixtures.each do |mixture| %>
                <tr class="bg-gray-800 border-b hover:bg-[#1E3E62] transition duration-200">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-300">
                    <%= mixture.id %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-300">
                    <%= mixture.order.name %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-300">
                    <%= link_to "Show", admin_mixture_path(mixture), class: "rounded-lg py-2 px-4 bg-[#FF6500] text-white font-medium hover:bg-[#E65B00] transition duration-200" %>
                    <%= link_to "Delete", admin_mixture_path(mixture), method: :delete, data: { confirm: "Are you sure?" }, class: "ml-2 rounded-lg py-2 px-4 bg-red-500 text-white font-medium hover:bg-red-600 transition duration-200" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
