<div id="<%= dom_id mixture_detail %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Mixture:</strong>
    <%= mixture_detail.mixture_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Order:</strong>
    <%= mixture_detail.order_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Primary color:</strong>
    <%= mixture_detail.primary_color_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= mixture_detail.amount %>
  </p>

</div>
