
  <h1>Sales Report</h1>

  <table>
    <thead>
      <tr>
        <th>Period</th>
        <th>Sales</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Daily Sales</td>
        <td><%= number_to_currency(@daily_sales) %></td>
      </tr>
      <tr>
        <td>Weekly Sales</td>
        <td><%= number_to_currency(@weekly_sales) %></td>
      </tr>
      <tr>
        <td>Monthly Sales</td>
        <td><%= number_to_currency(@monthly_sales) %></td>
      </tr>
      <tr>
        <td>Quarterly Sales</td>
        <td><%= number_to_currency(@quarterly_sales) %></td>
      </tr>
      <tr>
        <td>Yearly Sales</td>
        <td><%= number_to_currency(@yearly_sales) %></td>
      </tr>
    </tbody>
  </table>
