<h1>Sales Report</h1>

<ul>
  <li><strong>Daily Sales:</strong> <%= number_to_currency(@daily_sales) %></li>
  <li><strong>Weekly Sales:</strong> <%= number_to_currency(@weekly_sales) %></li>
  <li><strong>Monthly Sales:</strong> <%= number_to_currency(@monthly_sales) %></li>
  <li><strong>Quarterly Sales:</strong> <%= number_to_currency(@quarterly_sales) %></li>
  <li><strong>Yearly Sales:</strong> <%= number_to_currency(@yearly_sales) %></li>
</ul>

