<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TJStockOptima</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const sidebar = document.getElementById('sidebar');
      const toggleButton = document.getElementById('toggle-button');
      const closeButton = document.getElementById('close-button');

      toggleButton.addEventListener('click', () => {
        sidebar.classList.toggle('-translate-x-full');
      });

      closeButton.addEventListener('click', () => {
        sidebar.classList.add('-translate-x-full');
      });
    });
  </script>
</head>

<body class="bg-[#0B192C] text-gray-300">
  <div class="flex h-screen">
    <!-- Sidebar -->
    <div id="sidebar" class="fixed inset-y-0 left-0 z-40 w-64 bg-[#1E3E62] shadow-lg transition-transform duration-300 ease-in-out transform -translate-x-full md:translate-x-0">
      <div class="flex flex-col h-full">
        <div class="flex items-center justify-between p-4">
          <h1 class="text-lg text-white font-bold">TJ Admin</h1>
          <button id="close-button" class="text-white md:hidden">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <nav class="flex-1">
          <ul class="flex flex-col p-4 space-y-2">
            <% links = [
              { path: admin_path, icon: 'fas fa-tachometer-alt', label: 'Dashboard' },
              { path: admin_colors_path, icon: 'fas fa-paint-brush', label: 'Brands' },
              { path: admin_products_path, icon: 'fas fa-box', label: 'Products' },
              { path: admin_paint_colors_path, icon: 'fas fa-paint-roller', label: 'Paint Colors' },
              { path: admin_primary_colors_path, icon: 'fas fa-palette', label: 'Primary Colors' },
              { path: admin_orders_path, icon: 'fas fa-shopping-cart', label: 'Orders' },
              { path: admin_mixtures_path, icon: 'fas fa-blender', label: 'Mixtures' },
              { path: admin_sales_path, icon: 'fas fa-chart-line', label: 'Sales' },
              { path: destroy_admin_session_path, icon: 'fas fa-sign-out-alt', label: 'Sign out', data: { "turbo-method": :delete, "turbo-confirm": "Are you sure you want to sign out?" } }
            ] %>
            <% links.each do |link| %>
              <li>
                <%= link_to link[:path], class: "flex items-center px-4 py-2 text-white hover:bg-[#FF6500] rounded transition duration-200", data: link[:data] do %>
                  <i class="<%= link[:icon] %> mr-2"></i> <span><%= link[:label] %></span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>

    <!-- Main Content -->
    <div class="flex-1 transition-all duration-300 bg-[#0B192C] md:ml-64">
      <div class="p-4">
        <button id="toggle-button" class="text-white md:hidden mb-4">
          <i class="fas fa-bars text-2xl"></i>
        </button>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
