<!DOCTYPE html>
<html lang="en">
<head>
    <title>TJStockOptima</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta charset="utf-8">
</head>

<body class="bg-gray-900 text-gray-200">
    <%= render "shared/navbar" %>
    <main class="container mx-auto mt-10 max-w-7xl px-4 sm:px-6 lg:px-8">
        <%= yield %>
    </main>
    <%= render "shared/footer" %>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</body>
<script>
document.addEventListener("DOMContentLoaded", () => {
  const colors = <%= raw Color.all.to_json(only: [:id, :name]) %>;
  const products = <%= raw Product.all.to_json(only: [:id, :name]) %>;

  const colorMap = colors.reduce((map, obj) => {
    map[obj.id] = obj.name;
    return map;
  }, {});
  const productMap = products.reduce((map, obj) => {
    map[obj.id] = obj.name;
    return map;
  }, {});

  localStorage.setItem("colors", JSON.stringify(colorMap));
  localStorage.setItem("products", JSON.stringify(productMap));
});
</script>

</html>
